[submodule "mimalloc-bench"]
	path = extern/mimalloc-bench
	url = https://github.com/nwtnni/mimalloc-bench.git
[submodule "extern/silo"]
	path = extern/silo
	url = https://github.com/nwtnni/silo.git
[submodule "extern/memento"]
	path = extern/memento
	url = https://github.com/nwtnni/memento.git
[submodule "extern/lightning"]
	path = extern/lightning
	url = git@github.com:nwtnni/lightning.git
[submodule "extern/sosp-paper19-ae"]
	path = extern/sosp-paper19-ae
	url = git@github.com:nwtnni/sosp-paper19-ae.git
[submodule "extern/mimalloc"]
	path = extern/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "extern/ralloc"]
	path = extern/ralloc
	url = git@github.com:photoszzt/ralloc.git
